body {
    font-family: "Roboto", sans-serif;
    line-height: 24px;
    color: #434455;
    background-color: #FFFFFF;
}
ul, ol {
    list-style-type: none;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}

.logo-header { 
    color: #2e2f42;
    line-height: 1.17;
    letter-spacing: 0.03em; 
}
.logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;

}

.menu-link {
font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

}
.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.page-adress {
font-style: normal
}
.link-contact {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.link-contact:hover,
.link-contact:focus {
color: #404bbf;
}

.first-section {
    background: #2E2F42;
}
.main-title {
    color: #FFFFFF;
    font-family: "Roboto",
        sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}
.button {
font-family: "Roboto", sans-serif
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background: #4d5ae5;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
}
.button:hover,
.button:focus {
background: #404bbf;
}

.page-title {
    color: #2E2F42;
    font-family: "Roboto", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
}
.benefit {
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2E2F42;
}
.deskription {
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.third-section {
    background: #F4F4FD;
}
.section-title {
        font-family: "Roboto", sans-serif;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2E2F42;
        text-align: center;
        text-transform: capitalize;
}

.team-foto {
    background-color: #FFFFFF<
}
.name-title {
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    text-transform: capitalize;

}
.name-deskription {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
    color: #434455;
}

.page-footer {
    background: #2E2F42;
}
.logo-footer {
color: #F4F4FD;
line-height: 1.17;
letter-spacing: 0.03em;
}
.conclusion {
    color: #F4F4FD;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
}